body {
    margin: 0;
    padding: 0;
    background-image: url('HAKYU.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Navigation styles */
nav {
    max-width: 800px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navigation list styling */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

nav ul li {
    position: relative;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 24px; /*Maintain font size for all navigation links */
    text-align: center; /*Ensure text is centered */
}

nav a:hover {
    background-color: #501717;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000;
    padding: 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin-bottom: 10px;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}

nav a i {
    margin-right: 10px;
    font-size: 18px;
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: row; /* Keep the items in a row even in mobile view */
        justify-content: space-between; /* Space out the items */
    }
    nav ul li {
        width: auto; /* Prevent items from expanding */
    }
    nav a {
        padding: 10px 10px; /* Adjust padding */
        font-size: 20px; /* Slightly reduce the font size */
    }
    .dropdown-menu {
        width: auto;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: row; /* Keep the items in a row even in very small screens */
        justify-content: space-between; /* Space out the items */
    }
    nav ul li {
        width: auto; /* Prevent items from expanding */
    }
    nav a {
        padding: 5px 10px; /* Further reduce padding */
        font-size: 18px; /* Further reduce the font size */
    }
    .dropdown-menu {
        width: auto;
    }
}